@media (max-width: 1175px) {
		
	
		.visible-lg {
		display: none;
	}
	.m-menu-link {
		display: block;

	}


		.container {
			width: 100%;			
		}

		.col-4 {
  		width: 100%;
  		margin: 0;
  		margin-bottom: 30px;
  		padding-left: 15px;
  		padding-right: 15px;
  		text-align: center;
		}
		.col-6 {
			width: 100%;
			margin: 0;
			margin-bottom: 30px;
  		padding-left: 15px;
  		padding-right: 15px;
  		text-align: center;
		}
		
		.col-8 {
		width: 100%;
		margin: 0;
		margin-bottom: 30px;
  		padding-left: 15px;
  		padding-right: 15px;
  		text-align: center;

		}

		.col-max {
		width: 100%;
		margin: 0;
		margin-bottom: 30px;
		padding-left: 15px;
  		padding-right: 15px;
		text-align: center;
		}

	
}

